.container {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    flex-direction: column;
}

.top-section {
    height: 40%;
    background-image: url('./../assets/images/image.png');
    /* Set your image path here */
    background-size: cover;
    /* Cover the entire section */
    background-position: center;
    padding: 3%;
    /* align-items: center; */
    /* Center the image */
}

.bottom-section {
    /* height: 50%; */
    background-color: #f0f0f0;
    /* Add any background color for the bottom section */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

.headerTitle {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.headerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerRuler {
    /* border-width: 2px solid #ccc; */
    background-color: black;
    width: 5%;
    height: 5px;
    border-radius: 10px;

}