.container {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    padding: auto 5%;
}

.top-section {
    height: 30rem;
    background-image: url('./../assets/images/image.png');
    /* Set your image path here */
    background-size: cover;
    /* Cover the entire section */
    background-position: center;
    padding: 0 5%;
    /* align-items: center; */
    /* Center the image */
}

.bottom-section {
    /* height: 50%; */
    background-color: white;
    /* Add any background color for the bottom section */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 5%;
}

.logo {
    width: 150px;
}

.headerTitle {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.headerSubTitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.headerContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.centerRuler {
    /* border-width: 2px solid #ccc; */
    background-color: black;
    width: 5%;
    height: 5px;
    border-radius: 10px;

}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    position: relative;
    /* Make the container relative for positioning */
}

.slider {
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    /* Hide overflow to create a clean slide effect */
}

.toggle {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #007bff;
    border-radius: 25px;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.upload .toggle {
    transform: translateX(0);
}

.record .toggle {
    transform: translateX(100%);
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.option {
    width: 50%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    /* Add cursor pointer for better UX */
}

.option.active {
    color: #fff;
    /* Highlight color for active option */
}

.recordSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;

}

.childSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadSection {
    background-color: white;
    border: 2px dashed #ccc;
    border-radius: 30px;
    padding: 10px;
}

.uploaderContentSection {
    font-size: 16px;
    font-weight: 700;
    padding: 16px 0;
}

.browseButtonStyle {
    color: #0560FD;
    text-decoration: underline;

}

.uploaderMutedText {
    font-size: 12px;
    font-weight: 400;
    color: #676767;
    padding: 10px 0;

}

.uploadIconHolder {
    padding: 16px 0 0px;

}